/* General */
section.content .content__item {
  margin-bottom: 20px;
}

section.content span.title-dash {
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
  width: 40px;
  height: 1px;
  margin: auto 0;
  margin-right: 10px;
}

section.content .title-content {
  color: rgba(2, 1, 1, 0.5);
  font-weight: 600;
}

/* Banner CSS */
section.banner {
  margin-bottom: 20px;
}

section.banner img {
  width: 100%;
  max-height: 500px;
  /* aspect-ratio: 16 / 9; */
  object-fit: cover;
  background-color: rgba(0, 0, 0, 0.5);
}

/* About Us CSS */
section.content .about-us__title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

section.content .content__about-us img {
  width: 100%;
  object-fit: cover;
}

section.content .content__about-us #about-us__description {
  margin-bottom: 15px;
}

section.content .content__about-us a {
  font-size: 25px;
  color: var(--primary-color);
}

section.content .content__about-us a:hover {
  color: var(--primary-light-color);
}

/* Fact CSS */
section.content .content__fact .fact__item .item-title {
  font-size: 50px;
  font-weight: 600;
  color: var(--primary-color);
}

section.content .content__fact {
  position: relative;
  width: 100%;
  min-height: 200px;
}

section.content .content__fact .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.95);
}

section.content .content__fact .background-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  text-align: center;
  font-size: 150px;
  font-weight: 900;
  vertical-align: text-bottom;
  letter-spacing: 15px;
  align-content: end;
}

section.content .content__fact .fact__item {
  align-content: center;
  z-index: 1;
}

/* Courses list CSS */
section.content .courses__list {
  margin-top: 10px;
}

section.content .courses__list .accordion-button {
  font-weight: 600;
}

section.content .courses__list .accordion-button:not(.collapsed) {
  background-color: var(--primary-color);
  color: #ffffff;
}

section.content .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

/* Feedback carousel CSS */
section.content .content__feedback {
  margin: 40px 0;
}

section.content .content__feedback .carousel {
  margin-top: 20px;
  padding: 0 50px;
}

section.content .content__feedback .card {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  border: none;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

section.content .content__feedback .feedback-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto 20px;
  object-fit: cover;
}

section.content .content__feedback .card-title {
  color: var(--primary-color);
  font-weight: 600;
  margin-bottom: 10px;
}

section.content .content__feedback .carousel-control-prev,
section.content .content__feedback .carousel-control-next {
  width: 40px;
  height: 40px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  opacity: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section.content .content__feedback .carousel-arrow {
  width: 20px;
  height: 20px;
}

/* Form register */
section.content .form-register .form-register__title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

section.content .form-register {
  padding: 20px 0;
}

section.content .form-register li {
  margin: 15px;
}

section.background-register .overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.75);
}

/* Mobile CSS */
@media (max-width: 992px) {
  section.content .content__fact .background-overlay {
    font-size: 80px;
  }

  .content__feedback .carousel {
    padding: 0 30px;
  }

  .content__feedback .card {
    margin: 0 10px;
  }
}
