/* General */
section.content .content__item {
  margin-bottom: 20px;
}

section.content span.title-dash {
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
  width: 40px;
  height: 1px;
  margin: auto 0;
  margin-right: 10px;
}

section.content .title-content {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
}

/* Breadcrumb CSS */
section.content .content__breadcrumb {
  --breadcrumb-divider: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8'><path d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='#{$breadcrumb-divider-color}'/></svg>");
  margin-top: 10px;
}

section.content .content__breadcrumb .breadcrumb-item a {
  color: var(--primary-color);
  text-decoration: none;
}

/* Test */
section.content .content__test .test__title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

section.content .content__test li {
  margin: 15px;
}

section.content .content__test button {
  background-color: var(--primary-color);
  border: none;
}

section.content .content__test button:hover {
  background-color: var(--bs-btn-hover-bg);
}

/* Background */
.background-container {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
  pointer-events: none;
  user-select: none;
}

.scroll-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  animation: scrollUp 40s linear infinite;
}

.scroll-background img {
  width: 100%;
  display: block;
}

/* Form register */
section.content .form-register .form-register__title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

section.content .form-register {
  padding: 20px 0;
}

section.content .form-register li {
  margin: 15px;
}

section.background-register .overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.75);
}

@keyframes scrollUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}
